<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
        <!--d3-->
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <!--plotly-->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!--bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
          <!--css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>`
<body class="bg-color">
    <h1 class="center text-color font"> About </h1>

    <h2 class="b margin">Introduction</h2>
    <p class="text-color margin">
    The goal of this project is to analyze the cost of living using a machine learning model. The project aims to develop and optimize a predictive model that can estimate the cost of living based on various features. This could help clients or employers with numerous things but mostly for aid in compensation planning for future employees based on location. 
    </p>
    <h2 class="b margin">Problem Statement: <br>
    Analyzing Cost of Living with Machine Learning</h2>

    <p class="text-color margin">
    The cost of living is a critical factor influencing individuals' economic decisions and well-being. Our project focuses on leveraging machine learning to conduct a comprehensive analysis of the cost of living dataset. The goal is to develop and optimize a predictive model capable of estimating the cost of living based on various features. This endeavor involves data cleaning, normalization, and standardization processes to ensure accurate and reliable predictions. Additionally, the project aims to utilize data from Spark to enhance data processing capabilities, providing a robust foundation for meaningful predictive power. The ultimate objective is to optimize the model, document the iterative changes made, and showcase the overall performance, thereby providing valuable insights into the cost of living dynamics for informed decision-making.
    </p>
    <h2 class="b margin">Additional Information</h2>
    <p class="text-color margin"> As inflation rises in the United States and more and more people fall in debt. We wanted to look at the cost of living across each state. 
      The rate of inflation has drastically changed in the past 3 years, increasing by 7%. Currently in 2023 the rate of inflation is at a decade high of 8%. 
      In comparison, the last time it was this high was 1980.
      This is a massive change in our society as wages stay 
      low and the cost of living increase.  </p>

    <h2 class="b margin">Members</h2>
    <p class="text-color margin">Brittany Castro, Cooper Harris, Lois Stetson, and Thanh Vo</p>

    <h2 class="b margin" href = "https://www.kaggle.com/datasets/asaniczka/us-cost-of-living-dataset-3171-counties?rvi=1">Data Source</h2>
    <a class="text-color margin" href = "https://www.kaggle.com/datasets/asaniczka/us-cost-of-living-dataset-3171-counties?rvi=1">https://www.kaggle.com/datasets/asaniczka/us-cost-of-living-dataset-3171-counties?rvi=1</a>
    
    <a class="b center2 text-color" href = "http://127.0.0.1:5000/">1</a>
    <a class="b center2 text-color" href = "http://127.0.0.1:5000/Visuals">2</a>
    <a class="b center2 text-color" href = "http://127.0.0.1:5000/HousingCost">3</a>
</body>
</html>