<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cost of Living</title>
        <!--d3-->
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <!--plotly-->
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <!--bootstrap-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
          <!--css-->
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="bg-color">
    <h1 class="center text-color font"> Cost of living in the United States </h1>
    <br>
    <a class="b center2 text-color" href = "http://127.0.0.1:5000/">1</a>
    <a class="b center2 text-color" href = "http://127.0.0.1:5000/Visuals">2</a>
    <a class="b center2 text-color" href = "http://127.0.0.1:5000/HousingCost">3</a>
    <br>
    <div class="center2">
    <img src="{{ url_for('static', filename='images/Histograms_for_distribution.png') }}" alt="Histograms for distribution" width="1000" length="1000">
    <br>
    <h1 class="center4 text-color font font-size"> Correlation Matrix </h1>
    <br>
    <img src="{{ url_for('static', filename='images/correlation_matrix.png') }}" alt="Correlation matrix" width="1000" length="1000">
    </div>
    <div class="center3 margin2">
    <img src="{{ url_for('static', filename='images/correlation_plots.png') }}" alt="Correlation Plots" width="1500" length="1500">
    </div>
    <div class="center2">
    <img src="{{ url_for('static', filename='images/train.png') }}" alt="train" width="1000" length="1000">
    </div>
    <div class='center2' id="plot"></div>

    <div class="center2 margin2">
    <img src="{{ url_for('static', filename='images/Average_income_by_state.png') }}" alt="Average income by State" width="1000" length="1000">
    <img src="{{ url_for('static', filename='images/cost_of_living.png') }}" alt="Cost of living" width="1000" length="1000">


    <!-- <img src="{{ url_for('static', filename='images/area_plots.png') }}" alt="Area Plots" width="1000" length="1000">
    <img src="{{ url_for('static', filename='images/boxplots.png') }}" alt="Boxplots" width="1000" length="1000"> -->
    </div>
    <a class="b center2 text-color" href = "http://127.0.0.1:5000/">1</a>
    <a class="b center2 text-color" href = "http://127.0.0.1:5000/Visuals">2</a>
    <a class="b center2 text-color" href = "http://127.0.0.1:5000/HousingCost">3</a>
</body>
</html>